apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs-csi
provisioner: nfs.csi.k8s.io
parameters:
  server: k3s-master #Or Private IP of master
  share: /mnt/shared
reclaimPolicy: Delete
volumeBindingMode: Immediate
